<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundingtalk.fundingtalk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.Loan.LoanActivity"></activity>
        <activity android:name=".Splash.SplashActivity" />
        <activity android:name=".Splash.ManualActivity"></activity>
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Investment.Decriptions.future_Second_desc"></activity>
        <activity android:name=".Main.Investment.Decriptions.future_First_desc" />
        <activity android:name=".Main.Investment.invest_finish" />
        <activity android:name=".Main.Investment.invest_input_file" >

        </activity>
        <activity android:name=".Main.Investment.Decriptions.now_Second_desc" />
        <activity android:name=".Main.Investment.Decriptions.now_First_desc" />
        <activity android:name=".Splash.SplashActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>